# IDE and Editor files
.vscode/
.idea/
.pytest_cache/

# Environment files
.env*
.venv/

# Build and distribution
.build/
.Output/
.dist/
build/
dist/
Output/

# Python cache
__pycache__/
*.pyc

# System files
.DS_Store

# Setup files
playlists.json
