.build/
.Output/
.venv/
.vscode/
.idea/
.pytest_cache/
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.dist/
build/main/Analysis-00.toc
build/main/base_library.zip
build/main/COLLECT-00.toc
build/main/EXE-00.toc
build/main/generated-38d8ff18adab8338c4bd6484a0d25fb69f3c2b7b0546d04acc9e004522ec7164.ico
build/main/main.exe
build/main/main.pkg
build/main/PKG-00.toc
build/main/PYZ-00.pyz
build/main/PYZ-00.toc
build/main/warn-main.txt
build/main/xref-main.html
build/main/localpycs/pyimod01_archive.pyc
build/main/localpycs/pyimod02_importers.pyc
build/main/localpycs/pyimod03_ctypes.pyc
build/main/localpycs/pyimod04_pywin32.pyc
build/main/localpycs/struct.pyc
core/__pycache__/__init__.cpython-312.pyc
core/__pycache__/__init__.cpython-313.pyc
core/__pycache__/api.cpython-312.pyc
core/__pycache__/api.cpython-313.pyc
core/__pycache__/downloader.cpython-312.pyc
core/__pycache__/downloader.cpython-313.pyc
core/__pycache__/fetch_playlist.cpython-312.pyc
core/__pycache__/playlist_manager.cpython-312.pyc
core/__pycache__/playlist_manager.cpython-313.pyc
dist/main/main.exe
dist/main/_internal/_asyncio.pyd
dist/main/_internal/_bz2.pyd
dist/main/_internal/_cffi_backend.cp312-win_amd64.pyd
dist/main/_internal/_ctypes.pyd
dist/main/_internal/_decimal.pyd
dist/main/_internal/_hashlib.pyd
dist/main/_internal/_lzma.pyd
dist/main/_internal/_multiprocessing.pyd
dist/main/_internal/_overlapped.pyd
dist/main/_internal/_queue.pyd
dist/main/_internal/_socket.pyd
dist/main/_internal/_ssl.pyd
dist/main/_internal/_wmi.pyd
dist/main/_internal/base_library.zip
dist/main/_internal/libcrypto-3.dll
dist/main/_internal/libffi-8.dll
dist/main/_internal/libssl-3.dll
dist/main/_internal/pyexpat.pyd
dist/main/_internal/python3.dll
dist/main/_internal/python312.dll
dist/main/_internal/select.pyd
dist/main/_internal/unicodedata.pyd
dist/main/_internal/VCRUNTIME140_1.dll
dist/main/_internal/VCRUNTIME140.dll
dist/main/_internal/PySide6/avcodec-61.dll
dist/main/_internal/PySide6/avformat-61.dll
dist/main/_internal/PySide6/avutil-59.dll
dist/main/_internal/PySide6/MSVCP140_1.dll
dist/main/_internal/PySide6/MSVCP140_2.dll
dist/main/_internal/PySide6/MSVCP140.dll
dist/main/_internal/PySide6/opengl32sw.dll
dist/main/_internal/PySide6/pyside6.abi3.dll
dist/main/_internal/PySide6/Qt6Core.dll
dist/main/_internal/PySide6/Qt6DataVisualization.dll
dist/main/_internal/PySide6/Qt6Gui.dll
dist/main/_internal/PySide6/Qt6Multimedia.dll
dist/main/_internal/PySide6/Qt6MultimediaWidgets.dll
dist/main/_internal/PySide6/Qt6Network.dll
dist/main/_internal/PySide6/Qt6OpenGL.dll
dist/main/_internal/PySide6/Qt6OpenGLWidgets.dll
dist/main/_internal/PySide6/Qt6Pdf.dll
dist/main/_internal/PySide6/Qt6Qml.dll
dist/main/_internal/PySide6/Qt6QmlMeta.dll
dist/main/_internal/PySide6/Qt6QmlModels.dll
dist/main/_internal/PySide6/Qt6QmlWorkerScript.dll
dist/main/_internal/PySide6/Qt6Quick.dll
dist/main/_internal/PySide6/Qt6Svg.dll
dist/main/_internal/PySide6/Qt6VirtualKeyboard.dll
dist/main/_internal/PySide6/Qt6Widgets.dll
dist/main/_internal/PySide6/QtCore.pyd
dist/main/_internal/PySide6/QtDataVisualization.pyd
dist/main/_internal/PySide6/QtGui.pyd
dist/main/_internal/PySide6/QtMultimedia.pyd
dist/main/_internal/PySide6/QtMultimediaWidgets.pyd
dist/main/_internal/PySide6/QtNetwork.pyd
dist/main/_internal/PySide6/QtOpenGL.pyd
dist/main/_internal/PySide6/QtOpenGLWidgets.pyd
dist/main/_internal/PySide6/QtWidgets.pyd
dist/main/_internal/PySide6/swresample-5.dll
dist/main/_internal/PySide6/swscale-8.dll
dist/main/_internal/PySide6/VCRUNTIME140_1.dll
dist/main/_internal/PySide6/VCRUNTIME140.dll
dist/main/_internal/PySide6/plugins/generic/qtuiotouchplugin.dll
dist/main/_internal/PySide6/plugins/iconengines/qsvgicon.dll
dist/main/_internal/PySide6/plugins/imageformats/qgif.dll
dist/main/_internal/PySide6/plugins/imageformats/qicns.dll
dist/main/_internal/PySide6/plugins/imageformats/qico.dll
dist/main/_internal/PySide6/plugins/imageformats/qjpeg.dll
dist/main/_internal/PySide6/plugins/imageformats/qpdf.dll
dist/main/_internal/PySide6/plugins/imageformats/qsvg.dll
dist/main/_internal/PySide6/plugins/imageformats/qtga.dll
dist/main/_internal/PySide6/plugins/imageformats/qtiff.dll
dist/main/_internal/PySide6/plugins/imageformats/qwbmp.dll
dist/main/_internal/PySide6/plugins/imageformats/qwebp.dll
dist/main/_internal/PySide6/plugins/multimedia/ffmpegmediaplugin.dll
dist/main/_internal/PySide6/plugins/multimedia/windowsmediaplugin.dll
dist/main/_internal/PySide6/plugins/networkinformation/qnetworklistmanager.dll
dist/main/_internal/PySide6/plugins/platforminputcontexts/qtvirtualkeyboardplugin.dll
dist/main/_internal/PySide6/plugins/platforms/qdirect2d.dll
dist/main/_internal/PySide6/plugins/platforms/qminimal.dll
dist/main/_internal/PySide6/plugins/platforms/qoffscreen.dll
dist/main/_internal/PySide6/plugins/platforms/qwindows.dll
dist/main/_internal/PySide6/plugins/styles/qmodernwindowsstyle.dll
dist/main/_internal/PySide6/plugins/tls/qcertonlybackend.dll
dist/main/_internal/PySide6/plugins/tls/qopensslbackend.dll
dist/main/_internal/PySide6/plugins/tls/qschannelbackend.dll
dist/main/_internal/PySide6/translations/qt_ar.qm
dist/main/_internal/PySide6/translations/qt_bg.qm
dist/main/_internal/PySide6/translations/qt_ca.qm
dist/main/_internal/PySide6/translations/qt_cs.qm
dist/main/_internal/PySide6/translations/qt_da.qm
dist/main/_internal/PySide6/translations/qt_de.qm
dist/main/_internal/PySide6/translations/qt_en.qm
dist/main/_internal/PySide6/translations/qt_es.qm
dist/main/_internal/PySide6/translations/qt_fa.qm
dist/main/_internal/PySide6/translations/qt_fi.qm
dist/main/_internal/PySide6/translations/qt_fr.qm
dist/main/_internal/PySide6/translations/qt_gd.qm
dist/main/_internal/PySide6/translations/qt_gl.qm
dist/main/_internal/PySide6/translations/qt_he.qm
dist/main/_internal/PySide6/translations/qt_help_ar.qm
dist/main/_internal/PySide6/translations/qt_help_bg.qm
dist/main/_internal/PySide6/translations/qt_help_ca.qm
dist/main/_internal/PySide6/translations/qt_help_cs.qm
dist/main/_internal/PySide6/translations/qt_help_da.qm
dist/main/_internal/PySide6/translations/qt_help_de.qm
dist/main/_internal/PySide6/translations/qt_help_en.qm
dist/main/_internal/PySide6/translations/qt_help_es.qm
dist/main/_internal/PySide6/translations/qt_help_fr.qm
dist/main/_internal/PySide6/translations/qt_help_gl.qm
dist/main/_internal/PySide6/translations/qt_help_hr.qm
dist/main/_internal/PySide6/translations/qt_help_hu.qm
dist/main/_internal/PySide6/translations/qt_help_it.qm
dist/main/_internal/PySide6/translations/qt_help_ja.qm
dist/main/_internal/PySide6/translations/qt_help_ka.qm
dist/main/_internal/PySide6/translations/qt_help_ko.qm
dist/main/_internal/PySide6/translations/qt_help_nl.qm
dist/main/_internal/PySide6/translations/qt_help_nn.qm
dist/main/_internal/PySide6/translations/qt_help_pl.qm
dist/main/_internal/PySide6/translations/qt_help_pt_BR.qm
dist/main/_internal/PySide6/translations/qt_help_ru.qm
dist/main/_internal/PySide6/translations/qt_help_sk.qm
dist/main/_internal/PySide6/translations/qt_help_sl.qm
dist/main/_internal/PySide6/translations/qt_help_tr.qm
dist/main/_internal/PySide6/translations/qt_help_uk.qm
dist/main/_internal/PySide6/translations/qt_help_zh_CN.qm
dist/main/_internal/PySide6/translations/qt_help_zh_TW.qm
dist/main/_internal/PySide6/translations/qt_hr.qm
dist/main/_internal/PySide6/translations/qt_hu.qm
dist/main/_internal/PySide6/translations/qt_it.qm
dist/main/_internal/PySide6/translations/qt_ja.qm
dist/main/_internal/PySide6/translations/qt_ka.qm
dist/main/_internal/PySide6/translations/qt_ko.qm
dist/main/_internal/PySide6/translations/qt_lt.qm
dist/main/_internal/PySide6/translations/qt_lv.qm
dist/main/_internal/PySide6/translations/qt_nl.qm
dist/main/_internal/PySide6/translations/qt_nn.qm
dist/main/_internal/PySide6/translations/qt_pl.qm
dist/main/_internal/PySide6/translations/qt_pt_BR.qm
dist/main/_internal/PySide6/translations/qt_pt_PT.qm
dist/main/_internal/PySide6/translations/qt_ru.qm
dist/main/_internal/PySide6/translations/qt_sk.qm
dist/main/_internal/PySide6/translations/qt_sl.qm
dist/main/_internal/PySide6/translations/qt_sv.qm
dist/main/_internal/PySide6/translations/qt_tr.qm
dist/main/_internal/PySide6/translations/qt_uk.qm
dist/main/_internal/PySide6/translations/qt_zh_CN.qm
dist/main/_internal/PySide6/translations/qt_zh_TW.qm
dist/main/_internal/PySide6/translations/qtbase_ar.qm
dist/main/_internal/PySide6/translations/qtbase_bg.qm
dist/main/_internal/PySide6/translations/qtbase_ca.qm
dist/main/_internal/PySide6/translations/qtbase_cs.qm
dist/main/_internal/PySide6/translations/qtbase_da.qm
dist/main/_internal/PySide6/translations/qtbase_de.qm
dist/main/_internal/PySide6/translations/qtbase_en.qm
dist/main/_internal/PySide6/translations/qtbase_es.qm
dist/main/_internal/PySide6/translations/qtbase_fa.qm
dist/main/_internal/PySide6/translations/qtbase_fi.qm
dist/main/_internal/PySide6/translations/qtbase_fr.qm
dist/main/_internal/PySide6/translations/qtbase_gd.qm
dist/main/_internal/PySide6/translations/qtbase_he.qm
dist/main/_internal/PySide6/translations/qtbase_hr.qm
dist/main/_internal/PySide6/translations/qtbase_hu.qm
dist/main/_internal/PySide6/translations/qtbase_it.qm
dist/main/_internal/PySide6/translations/qtbase_ja.qm
dist/main/_internal/PySide6/translations/qtbase_ka.qm
dist/main/_internal/PySide6/translations/qtbase_ko.qm
dist/main/_internal/PySide6/translations/qtbase_lv.qm
dist/main/_internal/PySide6/translations/qtbase_nl.qm
dist/main/_internal/PySide6/translations/qtbase_nn.qm
dist/main/_internal/PySide6/translations/qtbase_pl.qm
dist/main/_internal/PySide6/translations/qtbase_pt_BR.qm
dist/main/_internal/PySide6/translations/qtbase_ru.qm
dist/main/_internal/PySide6/translations/qtbase_sk.qm
dist/main/_internal/PySide6/translations/qtbase_tr.qm
dist/main/_internal/PySide6/translations/qtbase_uk.qm
dist/main/_internal/PySide6/translations/qtbase_zh_CN.qm
dist/main/_internal/PySide6/translations/qtbase_zh_TW.qm
dist/main/_internal/PySide6/translations/qtmultimedia_ar.qm
dist/main/_internal/PySide6/translations/qtmultimedia_bg.qm
dist/main/_internal/PySide6/translations/qtmultimedia_ca.qm
dist/main/_internal/PySide6/translations/qtmultimedia_cs.qm
dist/main/_internal/PySide6/translations/qtmultimedia_da.qm
dist/main/_internal/PySide6/translations/qtmultimedia_de.qm
dist/main/_internal/PySide6/translations/qtmultimedia_en.qm
dist/main/_internal/PySide6/translations/qtmultimedia_es.qm
dist/main/_internal/PySide6/translations/qtmultimedia_fa.qm
dist/main/_internal/PySide6/translations/qtmultimedia_fi.qm
dist/main/_internal/PySide6/translations/qtmultimedia_fr.qm
dist/main/_internal/PySide6/translations/qtmultimedia_hr.qm
dist/main/_internal/PySide6/translations/qtmultimedia_hu.qm
dist/main/_internal/PySide6/translations/qtmultimedia_it.qm
dist/main/_internal/PySide6/translations/qtmultimedia_ja.qm
dist/main/_internal/PySide6/translations/qtmultimedia_ka.qm
dist/main/_internal/PySide6/translations/qtmultimedia_ko.qm
dist/main/_internal/PySide6/translations/qtmultimedia_nl.qm
dist/main/_internal/PySide6/translations/qtmultimedia_nn.qm
dist/main/_internal/PySide6/translations/qtmultimedia_pl.qm
dist/main/_internal/PySide6/translations/qtmultimedia_pt_BR.qm
dist/main/_internal/PySide6/translations/qtmultimedia_ru.qm
dist/main/_internal/PySide6/translations/qtmultimedia_sk.qm
dist/main/_internal/PySide6/translations/qtmultimedia_tr.qm
dist/main/_internal/PySide6/translations/qtmultimedia_uk.qm
dist/main/_internal/PySide6/translations/qtmultimedia_zh_CN.qm
dist/main/_internal/PySide6/translations/qtmultimedia_zh_TW.qm
dist/main/_internal/certifi/cacert.pem
dist/main/_internal/certifi/py.typed
dist/main/_internal/charset_normalizer/md__mypyc.cp312-win_amd64.pyd
dist/main/_internal/charset_normalizer/md.cp312-win_amd64.pyd
dist/main/_internal/cryptography/hazmat/bindings/_rust.pyd
dist/main/_internal/cryptography-45.0.4.dist-info/INSTALLER
dist/main/_internal/cryptography-45.0.4.dist-info/METADATA
dist/main/_internal/cryptography-45.0.4.dist-info/RECORD
dist/main/_internal/cryptography-45.0.4.dist-info/REQUESTED
dist/main/_internal/cryptography-45.0.4.dist-info/WHEEL
dist/main/_internal/cryptography-45.0.4.dist-info/licenses/LICENSE
dist/main/_internal/cryptography-45.0.4.dist-info/licenses/LICENSE.APACHE
dist/main/_internal/cryptography-45.0.4.dist-info/licenses/LICENSE.BSD
dist/main/_internal/qtawesome/fonts/codicon-0.0.36.ttf
dist/main/_internal/qtawesome/fonts/codicon-charmap-0.0.36.json
dist/main/_internal/qtawesome/fonts/elusiveicons-webfont-2.0.ttf
dist/main/_internal/qtawesome/fonts/elusiveicons-webfont-charmap-2.0.json
dist/main/_internal/qtawesome/fonts/fontawesome5-brands-webfont-5.15.4.ttf
dist/main/_internal/qtawesome/fonts/fontawesome5-brands-webfont-charmap-5.15.4.json
dist/main/_internal/qtawesome/fonts/fontawesome5-regular-webfont-5.15.4.ttf
dist/main/_internal/qtawesome/fonts/fontawesome5-regular-webfont-charmap-5.15.4.json
dist/main/_internal/qtawesome/fonts/fontawesome5-solid-webfont-5.15.4.ttf
dist/main/_internal/qtawesome/fonts/fontawesome5-solid-webfont-charmap-5.15.4.json
dist/main/_internal/qtawesome/fonts/fontawesome6-brands-webfont-6.7.2.ttf
dist/main/_internal/qtawesome/fonts/fontawesome6-brands-webfont-charmap-6.7.2.json
dist/main/_internal/qtawesome/fonts/fontawesome6-regular-webfont-6.7.2.ttf
dist/main/_internal/qtawesome/fonts/fontawesome6-regular-webfont-charmap-6.7.2.json
dist/main/_internal/qtawesome/fonts/fontawesome6-solid-webfont-6.7.2.ttf
dist/main/_internal/qtawesome/fonts/fontawesome6-solid-webfont-charmap-6.7.2.json
dist/main/_internal/qtawesome/fonts/materialdesignicons5-webfont-5.9.55.ttf
dist/main/_internal/qtawesome/fonts/materialdesignicons5-webfont-charmap-5.9.55.json
dist/main/_internal/qtawesome/fonts/materialdesignicons6-webfont-6.9.96.ttf
dist/main/_internal/qtawesome/fonts/materialdesignicons6-webfont-charmap-6.9.96.json
dist/main/_internal/qtawesome/fonts/phosphor-1.3.0.ttf
dist/main/_internal/qtawesome/fonts/phosphor-charmap-1.3.0.json
dist/main/_internal/qtawesome/fonts/remixicon-2.5.0.ttf
dist/main/_internal/qtawesome/fonts/remixicon-charmap-2.5.0.json
dist/main/_internal/shiboken6/MSVCP140.dll
dist/main/_internal/shiboken6/Shiboken.pyd
dist/main/_internal/shiboken6/shiboken6.abi3.dll
dist/main/_internal/shiboken6/VCRUNTIME140_1.dll
dist/main/_internal/shiboken6/VCRUNTIME140.dll
dist/main/_internal/simplejson/_speedups.cp312-win_amd64.pyd
dist/main/ui/resources/style.qss
dist/ui/resources/style.qss
utils/__pycache__/__init__.cpython-312.pyc
utils/__pycache__/__init__.cpython-313.pyc
utils/__pycache__/lrc_parser.cpython-312.pyc
utils/__pycache__/lrc_parser.cpython-313.pyc
Output/mysetup.exe
ui/__pycache__/__init__.cpython-312.pyc
ui/__pycache__/__init__.cpython-313.pyc
ui/__pycache__/main_window.cpython-312.pyc
ui/__pycache__/main_window.cpython-313.pyc
inno_setup.iss
Output/音乐下载器.exe
